<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Summarizer Tool Page" />
    <meta name="author" content="Group 6" />
    <title>Summarizer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon.png" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/elegant-font-icons.css" />
    <link rel="stylesheet" href="/static/css/elegant-line-icons.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/venobox/venobox.css" />
    <link rel="stylesheet" href="/static/css/slicknav.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/owl.carousel.css" />
    <link rel="stylesheet" href="/static/css/swiper.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navmenu" data-offset="70">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader">
        <div class="loader"><img src="/static/img/preloader.svg" alt="Loading..." /></div>
    </div>
    <header id="header" class="header-section">
        <div class="container">
            <nav class="navbar">
                <a href="#" class="navbar-brand"><img src="/static/img/icon.png" data-src="/static/img/icon.png" class="logo loaded" alt="Summarizer Logo" width="50" height="46" /> <strong>SUMMARIZER</strong></a>
                <div class="d-flex menu-wrap">
                    <div id="navmenu" class="mainmenu">
                        <ul class="nav">
                            <li>
                                <a data-scroll="" class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a data-scroll="" class="nav-link" href="#members">Members</a>
                            </li>
                            <li>
                                <a href="./summarizer">Summarizer</a>
                            </li>
                            <li>
                                <a data-scroll="" class="nav-link" href="#dataset">Dataset</a>
                            </li>
                            <li>
                                <a data-scroll="" class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section id="home" class="hero-section">
        <div class="container">
            <div class="row hero-inner">
                <div class="col-lg-9">
                    <div class="hero-content">
                        <h1>
                            Like professional writers<br />
                            Easy with Summarizer
                        </h1>
                        <p>
                            Text summarizer is a tool that wraps up a text to a specified short length.<br />
                            It condenses a long article to main points.
                        </p>
                        <div class="hero-btn">
                            <a href="#" class="download-btn"><img src="/static/img/appstore.png" alt="btn" /></a> <a href="#" class="download-btn"><img src="/static/img/playstore.png" alt="btn" /></a>
                        </div>
                    </div>
                </div>
                <div class="hero-moc"></div>
            </div>
        </div>
    </section>
    <section class="promo-section padding">
        <div class="container">
            <div class="promo-wrap row">
                <div class="col-md-4 col-sm-6 sm-padding">
                    <div class="promo-content text-center">
                        <div class="icon"></div>
                        <h3>Easy To Use</h3>
                        <p>
                            Summarize any text with<br />
                            a click of a button.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 sm-padding">
                    <div class="promo-content text-center">
                        <div class="icon"></div>
                        <h3>Stunning Design</h3>
                        <p>Designs That Speak for Themselves.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 sm-padding">
                    <div class="promo-content text-center">
                        <div class="icon"></div>
                        <h3>24/7 Support</h3>
                        <p>
                            Doesn't leave you<br />
                            the way your ex left you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="video-section">
        <div class="container">
            <div class="video-content">
                <div class="play-btn">
                    <a class="img-popup" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=92Ck-Dlgv-s"></a>
                </div>
            </div>
        </div>
    </div>
    <section id="about-us" class="feature-section padding">
        <div class="container">
            <div class="section-heading mb-60 text-center">
                <h2>About Us</h2>
                <p>
                    Text summarizer is a tool that wraps up a text to a specified short length.<br />
                    The need for text summarizers is increasing day by day, because of time constraints.
                </p>
            </div>
            <div id="feature-carousel" class="feature-carousel owl-carousel">
                <div class="feature-item">
                    <div class="feature-content text-center">
                        <div class="icon"></div>
                        <h3>100% Free</h3>
                        <p>
                            It is a free summarize tool,<br />
                            with no word limit and<br />
                            no daily limit.
                        </p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-content text-center">
                        <div class="icon"></div>
                        <h3>More Choices</h3>
                        <p>
                            Controlling summary length<br />
                            provides more choices for users to modify the final output.
                        </p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-content text-center">
                        <div class="icon"></div>
                        <h3>Users</h3>
                        <p>Helps students, journalists, writers to condense difficult concepts by summarizing them.</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-content text-center">
                        <div class="icon"></div>
                        <h3>Extraction</h3>
                        <p>Combine keywords and phrases in sentences to create a concise and meaningful summary.</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-content text-center">
                        <div class="icon"></div>
                        <h3>Abstractive</h3>
                        <p>Algorithms are developed in such a way to reproduce a long text into a shorter one by NLP.</p>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-content text-center">
                        <div class="icon"></div>
                        <h3>100% Data Safety</h3>
                        <p>
                            We do not store<br />
                            any of users' data to protect<br />
                            the privacy of our users.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="members" class="screenshots-section padding">
        <div class="container">
            <div class="section-heading mb-60 text-center">
                <h2 class="text-white">Members</h2>
                <p class="text-white">Group 6 - Members's Role</p>
            </div>
            <div class="swiper-container">
                <div class="mobile-mock">
                    <div class="screen"></div>
                    <div class="circle"></div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="w-100" src="/static/img/tiendat.png" alt="screenshot" /></div>
                    <div class="swiper-slide"><img class="w-100" src="/static/img/vanbac.png" alt="screenshot" /></div>
                    <div class="swiper-slide"><img class="w-100" src="/static/img/thanhhoang.png" alt="screenshot" /></div>
                    <div class="swiper-slide"><img class="w-100" src="/static/img/hieunhan.png" alt="screenshot" /></div>
                    <div class="swiper-slide"><img class="w-100" src="/static/img/quyetthang.png" alt="screenshot" /></div>
                    <div class="swiper-slide"><img class="w-100" src="/static/img/phuoctrung.png" alt="screenshot" /></div>
                </div>
                <div class="swiper-next"></div>
                <div class="swiper-prev"></div>
            </div>
        </div>
    </section>
    <section id="reviews" class="testimonial-section padding">
        <div class="container">
            <div class="section-heading mb-60 text-center">
                <div class="MuiContainer-root MuiContainer-maxWidthLg css-vmq4q1">
                    <div class="MuiGrid-root MuiGrid-container css-1d3bbye">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-1rgqrk2">
                            <div class="css-w2d83c">
                                <div class="MuiBox-root css-xuhmcu"></div>
                                <h1 class="MuiTypography-root MuiTypography-h3 css-9zn9w8">Summarize any text with a click of a button</h1>
                                <div class="MuiBox-root css-1v3caum"></div>
                                <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">
                                    Summarizer Tool can condense articles, papers, or documents down to the key points instantly. Our AI uses natural language processing to locate critical information while maintaining the original
                                    context.
                                </p>
                                <div class="MuiBox-root css-1d2k740"></div>
                                <div class="MuiBox-root css-1evqsut">
                                    <div class="MuiBox-root css-x6jb6x">
                                        <hr class="MuiDivider-root MuiDivider-fullWidth MuiDivider-vertical css-1k70g8h" />
                                    </div>
                                    <table class="MuiTable-root css-1od6rqj" width="100%">
                                        <tbody class="MuiTableBody-root css-1xnox0e">
                                            <tr class="MuiTableRow-root css-b7l4hk">
                                                <th class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-lmwekx" width="40%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">
                                                        🤖
                                                        <!-- --><!-- -->AI-powered
                                                    </p>
                                                </th>
                                                <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-lmwekx" width="60%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">Quickly extracts key points</p>
                                                </td>
                                            </tr>
                                            <tr class="MuiTableRow-root css-b7l4hk">
                                                <th class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-lmwekx" width="40%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">
                                                        📕
                                                        <!-- --><!-- -->Summarizes
                                                    </p>
                                                </th>
                                                <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-lmwekx" width="60%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">Essays, papers & documents</p>
                                                </td>
                                            </tr>
                                            <tr class="MuiTableRow-root css-b7l4hk">
                                                <th class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-lmwekx" width="40%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">
                                                        💡
                                                        <!-- --><!-- -->AI modes
                                                    </p>
                                                </th>
                                                <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-lmwekx" width="60%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">Paragraph</p>
                                                </td>
                                            </tr>
                                            <tr class="MuiTableRow-root css-b7l4hk">
                                                <th class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-t4nj5j" width="40%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">
                                                        💰
                                                        <!-- --><!-- -->100% free
                                                    </p>
                                                </th>
                                                <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-t4nj5j" width="60%">
                                                    <p class="MuiTypography-root MuiTypography-p2 css-16bt43b">Unlimited summarization</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="try-summarizer" class="download-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="download-content">
                        <h2>Try Summarizer Tool for free!</h2>
                        <p>
                            Text summarizer shortens the text while preserving<br />
                            all the main points that the text contains.
                        </p>
                        <a class="download-btn" href="#"><img src="/static/img/appstore.png" alt="Download App Store" /></a> <a class="download-btn" href="#"><img src="/static/img/playstore.png" alt="Download Play Store" /></a>
                    </div>
                </div>
                <div class="download-mockup" s=""></div>
            </div>
        </div>
    </section>
    <section id="dataset" class="blog-section padding">
        <div class="container">
            <div class="section-heading mb-60 text-center">
                <h2>Dataset</h2>
                <p>...</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 sm-padding">
                    <div class="blog-box">
                        <div class="blog-thumb">
                        <div class="post-meta">
                        </div>
                        </div>
                        <div class="blog-content">
                        <h3><a href="https://huggingface.co/datasets/cnn_dailymail">CNN/Daily Mail</a></h3>
                        <p>CNN/Daily Mail is a dataset for text summarization. Human generated abstractive summary bullets were generated from news stories in CNN and Daily Mail websites as questions, and stories as the corresponding passages from which the system is expected to answer the fill-in the-blank question.</p>
                        
                        </div>
                        </div>
                        </div>
    
    </section>
    <div id="subscribe" class="subscribe-section padding">
        <div class="container text-center">
            <div class="subscribe-content">
                <a href="#" class="top-header-logo-link">
                    <img src="/static/img/icon.png" width="50" height="46" alt="summarizer.org logo" />
                    <p>SUMMARIZER</p>
                </a>
                <p>Summarize text like professional writers with Summarizer Tool.</p>
            </div>
            <div class="subscribe-wrap">
                <form action="#" class="subscribe-form">
                    <input type="email" name="email" id="subs-email" class="form_input" placeholder="Enter Your Feedback..." /> <button type="submit" class="submit">Subscribe</button>
                    <div class="clearfix"></div>
                    <div id="contact">
                        <p class="subscription-success"></p>
                        <p class="subscription-error"></p>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <ul class="social-link">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="https://github.com/Hoangnt1209/DPL302m-Group6"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
    <footer class="footer-section align-center">
        <div class="container">
            <p>© 2023 Summarizer Tool Powered by Group 6</p>
        </div>
    </footer>
    <a data-scroll="" href="#header" id="scroll-to-top"></a>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/tether.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.slicknav.min.js"></script>
    <script src="/static/js/vendor/owl.carousel.min.js"></script>
    <script src="/static/js/vendor/swiper.min.js"></script>
    <script src="/static/js/vendor/smooth-scroll.min.js"></script>
    <script src="/static/js/vendor/venobox.min.js"></script>
    <script src="/static/js/vendor/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/vendor/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
